<% include ../../template-backoffice/header.ejs %>
<%
  function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
}
%>
<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Data Jurnal Pemasukan</strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/backoffice">Dashboard</a>
        </li>
        <li class="active">Data</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel">
        <div class="panel-header header-line">
          <form action="#">
            <div class="row">
              <div class="col-md-6 col-lg-6">
                <label for="">Tanggal Awal</label>
                <input type="text" class="form-control tgl" name="tgl_start" placeholder="Tanggal Awal" value="<%= tgl_start%>">
              </div>
              <div class="col-md-6 col-lg-6">
                <label for="">Tanggal Akhir</label>
                <input type="text" class="form-control tgl" name="tgl_end" placeholder="Tanggal Akhir" value="<%= tgl_end%>">
              </div>
            </div>
              
              
              <button id="cari" class="btn btn-primary btn-embossed" style="margin-top: 15px;">CARI</button>
            </form>
        </div>
        <div class="panel-content pagination2">
          <table class="table table-bordered table-striped table-hover" id="data">
            <thead>
              <tr>
                <th class="header">No.</th>
                <!-- <th class="header">Tanggal</th> -->
                <th class="header">Kode</th> 
                <th class="header">Akun</th>
                <th class="header">Debit</th>
                <th class="header">Kredit</th>
                <th class="header">Catatan</th>
              </tr>
            </thead>
            
            <tbody>
              <% for(let a=0; a< data.length; a++){%>
            <tr>
              <td colspan="6"><%= data[a].tgl_tampil%> - <%= data[a].no_id%> - <%= data[a].keterangan%></td>
              <td style="display: none;"></td>
              <td style="display: none;"></td>
              <td style="display: none;"></td>
              <td style="display: none;"></td>
              <td style="display: none;"></td>
            </tr>
            <% for(let b=0; b< data[a].subjurnal.length; b++){%>
              <tr>
                <td></td>
                <td><%= data[a].subjurnal[b].kode_akun%></td>
                <td><%= data[a].subjurnal[b].nama%></td>
                <td style="text-align: right;"><%= numberWithCommas(data[a].subjurnal[b].debit)%> ,-</td>
                <td style="text-align: right;"><%= numberWithCommas(data[a].subjurnal[b].credit)%> ,-</td>
                <td><%= data[a].subjurnal[b].catatan%></td>
              </tr>
              <%}%>
            <%}%>
            </tbody>
          </table>
        </div>
      </div>
    </div>  
  </div>
  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2021 </span>
        <span>Yayasan BAJ Keluarga H.M Sulchan</span>.
      </p>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->

<% include ../../template-backoffice/footer.ejs %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#data').DataTable({
      "ordering": false,
      "language": {
          "sProcessing":   "Sedang memproses...",
          "sLengthMenu":   "_MENU_",
          "sZeroRecords":  "Tidak ditemukan data yang sesuai",
          "sInfo":         "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
          "sInfoEmpty":    "Menampilkan 0 sampai 0 dari 0 entri",
          "sInfoFiltered": "(disaring dari _MAX_ entri keseluruhan)",
          "sInfoPostFix":  "",
          "sUrl":          "",
          "oPaginate": {
            "sFirst":    "Pertama",
            "sPrevious": "Sebelumnya",
            "sNext":     "Selanjutnya",
            "sLast":     "Terakhir"
          }
      },
      "pageLength": 50
      // "processing": true,
      //      "ajax": "/manajemen_jurnal/pemasukan_json",
      //      "columns": [
      //          { "data": null},
      //         //  { "data": "jenis"},
      //          { "data": "nama"},
      //          { "data": "satuan"},
      //         //  { "data": "hargaSurvey", render: function(data){
      //         //   //  console.log(data)
      //         //   let text ="<ul>";
      //         //     data.forEach(function(item){
      //         //       text+=`<li>${item.nama_toko} : ${item.harga}</li>`
      //         //     })
      //         //     text+="</ul>"
      //         //    return text;
      //         //  }},
      //          { "data": null, render: function(data){
      //            (!data.hargaMin)?data.hargaMin=0:data.hargaMin;
      //             return `<a href="#" class="hargamin" id_standar_harga="${data.id}">${data.hargaMin}</a>`;
      //          }},
              
      //    ],
      //   //  'rowsGroup': [1],
      // //    'createdRow': function(row, data, dataIndex){
      // //    // Use empty value in the "Office" column
      // //    // as an indication that grouping with COLSPAN is needed
      // //    if(data[1] === ''){
      // //       // Add COLSPAN attribute
      // //       $('td:eq(0)', row).attr('colspan', 5);

      // //       // Hide required number of columns
      // //       // next to the cell with COLSPAN attribute
      // //       $('td:eq(1)', row).css('display', 'none');
      // //       $('td:eq(2)', row).css('display', 'none');
      // //       $('td:eq(3)', row).css('display', 'none');
      
      // //    }
      // // },
      //    "deferRender": true,
      //    // "ordering": false,
      //   //  "columnDefs": [
      //   //      { "width": "3%" },
      //   //      { "width": "20%" },
      //   //      { "width": "24%" },
      //   //      { "width": "10%" },
      //   //      { "width": "20%" },
      //   //      { "width": "20%" },
    
      //   //      { "width": "20%" }
      //   //   ],
      //    "fnRowCallback": function( row, data, iDisplayIndex ) {
      //              var index = iDisplayIndex +1;
      //              $('td:eq(0)',row).html(index);
      //              return row;
      //    },
    });
  });
</script>