<% include ../../template-backoffice/header.ejs %>

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Edit Data Siswa</strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/backoffice">Dashboard</a></li>
        <li><a href="/manajemen_master/siswa">Data</a></li>
        <li class="active">Edit Data</li>
      </ol>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel">
        <div class="panel-content">
          <form role="form" id="forme" class="form-horizontal">
            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Nama</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="nama" id="" value="<%= data[0].nama%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">NIPD</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="nipd" id="" value="<%= data[0].nipd%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Jenis Kelamin</label>
              <div class="col-sm-10">
                <select class="form-control" name="jk" id="jk">
                  <option>-- Pilih --</option>
                  <option>L</option>
                  <option>P</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">NISN</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="nisn" id="" value="<%= data[0].nisn%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">No. Rekening</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="no_rekening" id="" value="<%= data[0].no_rekening%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Tempat, Tanggal Lahir</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="tempat_lahir" id="" placeholder="Tempat Lahir" value="<%= data[0].tempat_lahir%>">
              </div>

              <div class="col-sm-5">
                <input type="text" class="form-control tgl" name="tanggal_lahir" id="" placeholder="Tanggal Lahir" value="<%= data[0].tanggal_lahir%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">NIK</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="nik" id="" value="<%= data[0].nik%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Agama</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="agama" id="" value="<%= data[0].agama%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Alamat, RT, RW</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="alamat" id="" placeholder="Alamat" value="<%= data[0].alamat%>">
              </div>

              <div class="col-sm-1">
                <input type="text" class="form-control" name="rt" id="" placeholder="RT" value="<%= data[0].rt%>">
              </div>

              <div class="col-sm-1">
                <input type="text" class="form-control" name="rw" id="" placeholder="RW" value="<%= data[0].rw%>"> 
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Dusun</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="dusun" id="" value="<%= data[0].dusun%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Kecamatan</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="kecamatan" id="" value="<%= data[0].kelas%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Kelurahan</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="kelurahan" id="" value="<%= data[0].kelurahan%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Kode Pos</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="kode_pos" id="" value="<%= data[0].kode_pos%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Jenis Tinggal</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="jenis_tinggal" id="" value="<%= data[0].jenis_tinggal%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Alat Transportasi</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="alat_transportasi" id="" value="<%= data[0].alat_transportasi%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">No. Telepon (Rumah)</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="telp" id="" value="<%= data[0].telp%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">No. Hp</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="hp" id="" value="<%= data[0].hp%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Email</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="email" id="" value="<%= data[0].email%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">SKHUN</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="skhun" id="" value="<%= data[0].skhun%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Penerima KPS</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="penerima_kps" id="" value="<%= data[0].penerima_kps%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">No. KPS</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="no_kps" id="" value="<%= data[0].no_kps%>">
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-6 col-lg-6">
                <h3><strong>DATA ORANG TUA (AYAH)</strong></h3>
                <hr>
                <div class="form-group">
                  <label for="" class="col-sm-4 control-label" style="text-align: left;">Nama</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="nama_ayah" id="" value="<%= data[0].nama_ayah%>">
                  </div>
                </div>

                <div class="form-group">
                  <label for="" class="col-sm-4 control-label" style="text-align: left;">Tahun Lahir</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="tahun_ayah" id="" value="<%= data[0].tahun_ayah%>">
                  </div>
                </div>

                <div class="form-group">
                  <label for="" class="col-sm-4 control-label" style="text-align: left;">Jenjang Pendidikan</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="pendidikan_ayah" id="" value="<%= data[0].pendidikan_ayah%>">
                  </div>
                </div>

                <div class="form-group">
                  <label for="" class="col-sm-4 control-label" style="text-align: left;">Penghasilan</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="penghasilan_ayah" id="" value="<%= data[0].penghasilan_ayah%>">
                  </div>
                </div>

                <div class="form-group">
                  <label for="" class="col-sm-4 control-label" style="text-align: left;">NIK</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="nik_ayah" id="" value="<%= data[0].nik_ayah%>">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6">
                <h3><strong>DATA ORANG TUA (IBU)</strong></h3>
                <hr>
                <div class="form-group">
                  <label for="" class="col-sm-4 control-label" style="text-align: left;">Nama</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="nama_ibu" id="" value="<%= data[0].nama_ibu%>">
                  </div>
                </div>

                <div class="form-group">
                  <label for="" class="col-sm-4 control-label" style="text-align: left;">Tahun Lahir</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="tahun_ibu" id="" value="<%= data[0].tahun_ibu%>">
                  </div>
                </div>

                <div class="form-group">
                  <label for="" class="col-sm-4 control-label" style="text-align: left;">Jenjang Pendidikan</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="pendidikan_ibu" id="" value="<%= data[0].pendidikan_ibu%>">
                  </div>
                </div>

                <div class="form-group">
                  <label for="" class="col-sm-4 control-label" style="text-align: left;">Penghasilan</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="penghasilan_ibu" id="" value="<%= data[0].penghasilan_ibu%>">
                  </div>
                </div>

                <div class="form-group">
                  <label for="" class="col-sm-4 control-label" style="text-align: left;">NIK</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="nik_ibu" id="" value="<%= data[0].nik_ibu%>">
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12 col-lg-12">
                <h3><strong>DATA WALI</strong></h3>
                <hr>
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Nama</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="nama_wali" id="" value="<%= data[0].nama_wali%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Tahun Lahir</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="tahun_wali" id="" value="<%= data[0].tahun_wali%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Jenjang Pendidikan</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="pendidikan_wali" id="" value="<%= data[0].pendidikan_wali%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Pekerjaan</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="pekerjaan_wali" id="" value="<%= data[0].pekerjaan_wali%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Penghasilan</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="penghasilan_wali" id="" value="<%= data[0].penghasilan_wali%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">NIK</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="nik_wali" id="" value="<%= data[0].nik_wali%>">
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12 col-lg-12">
                <hr>
              </div>
            </div>

            

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">No. Peserta Ujian Nasional</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="no_ujian_nas" id="" value="<%= data[0].no_ujian_nas%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">No. Seri Ijazah</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="no_seri_ijazah" id="" value="<%= data[0].no_seri_ijazah%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Penerima KIP</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="penerima_kip" id="" value="<%= data[0].penerima_kip%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">No. KIP</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="nomor_kip" id="" value="<%= data[0].nomor_kip%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Nama KIP</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="nama_dikip" id="" value="<%= data[0].nama_dikip%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">No. KKS</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="nomor_kks" id="" value="<%= data[0].nomor_kks%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">No. Registrasi Akta Lahir</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="no_akta" id="" value="<%= data[0].no_akta%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Bank</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="bank" id="" value="<%= data[0].bank%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">No. Rekening Bank</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="norek_bank" id="" value="<%= data[0].norek_bank%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Rekening Atas Nama</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="rek_atas_nama" id="" value="<%= data[0].rek_atas_nama%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Layak PIP (Usulan dari sekolah)</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="layak_pip" id="" value="<%= data[0].layak_pip%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Alasan Layak PIP</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="alasan_layak" id="" value="<%= data[0].alasan_layak%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Kebutuhan Khusus</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="kebutuhan_khusus" id="" value="<%= data[0].kebutuhan_khusus%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Sekolah Asal</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="sekolah_asal" id="" value="<%= data[0].sekolah_asal%>">
              </div>
            </div>
            
            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Anak Ke-berapa</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="anak_ke" id="" value="<%= data[0].anak_ke%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Koordinat Lintang</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="lintang" id="" value="<%= data[0].lintang%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Koordinat Bujur</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="bujur" id="" value="<%= data[0].bujur%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">No. KK</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="no_kk" id="" value="<%= data[0].no_kk%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Berat Badan</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="bb" id="" value="<%= data[0].bb%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Tinggal Badan</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="tb" id="" value="<%= data[0].tb%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Lingkar Kepala</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="lk" id="" value="<%= data[0].lk%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Jumlah Saudara Kandung</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="jml_saudara" id="" value="<%= data[0].jml_saudara%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Jarak Rumah Kesekolah (KM)</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="jarak_rumah" id="" value="<%= data[0].jarak_rumah%>">
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Foto</label>
              <div class="col-sm-10">
                <input type="file" class="form-control" name="foto" id="" value="<%= data[0].foto%>">
                <a href="/foto/<%= data[0].foto%>" target="_blank">[Lihat / Download]</a>  
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Sekolah</label>
              <div class="col-sm-10">
                <select class="form-control" name="sekolah" id="sekolah">
                  <option value="">-- Pilih --</option>
                  <% var k=0; for(var i=0; i<sekolah.length; i++){ %>
                    <option><%= sekolah[i].nama%></option>
                    <%}%>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Rombel Saat Ini</label>
              <div class="col-sm-10">
                <select class="form-control" name="rombel_now" id="kelas">
                  <option value="">-- Pilih Sekolah Dulu --</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label" style="text-align: left;">Status Siswa</label>
              <div class="col-sm-10">
                <select class="form-control" name="status" id="">
                  
                  <option selected>Aktif</option>
                  <option>Tidak Aktif</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              
            </div>

            
          </form>
          <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-primary btn-embossed" onclick="simpanform()">Simpan</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2021 </span>
        <span>Yayasan BAJ Keluarga H.M Sulchan</span>.
      </p>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->

<% include ../../template-backoffice/footer.ejs %>
<script type="text/javascript">
$('#jk').val('<%= data[0].jk%>');

$('#sekolah').change(function(){
  $("#kelas").empty();
        $('#kelas').select2('val', null);

                     $.ajax({
                              type : "GET",
                              async : false,
                              global : false,
                              url : "/manajemen_master/get_kelas/"+$('#sekolah').val(),
                              dataType : 'json',
                              success: function (data) {
                                console.log(data)
                               $.each(data, function(index, item){
                           
                                  $('#kelas').append('<option >'+item.kelas+'</option>')
                              })
                             
                              }
                            });   
                    
                    
                })

function simpanform(){
   
var fd = new FormData(forme);
console.log(fd)
$.ajax({
  type: 'POST',
  enctype : 'multipart/form-data',
  url: '/manajemen_siswa/submit_edit',
  data: fd,
  processData: false,
  contentType: false,
  success: function(data){
    console.log(data)
    
      alert(data);
      location.reload();
    
  }
});

}
</script>