<% include ../../template-backoffice/header.ejs %>
<%
  function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
}
%>
<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Data Siswa Yang Mengalami Tunggakan</strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/backoffice">Dashboard</a>
        </li>
        <li class="active">Data</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel">
        <div class="panel-header header-line">
           <!-- <a class="btn btn-primary btn-embossed" href="/manajemen_siswa/insert" role="button"><i class="fa fa-plus" aria-hidden="true"></i>Tambah Data</a> -->
        </div>
        <div class="panel-content pagination2">
          <table class="table table-bordered table-striped table-hover" id="data">
            <thead>
              <tr>
                <th class="header" rowspan="2">No.</th>
                <th class="header" rowspan="2">Sekolah</th>
                <th class="header" rowspan="2">Nama Siswa</th>
                <th class="header" rowspan="2">Jenis Kelamin</th>
                <th class="header" rowspan="2">Alamat</th>
                <th class="header" colspan="4">Kekurangan</th>
                <th class="header" rowspan="2">Option</th>
              </tr>

              <tr>
                <th class="header">SPP</th>
                <th class="header">Dana Kegiatan</th>
                <th class="header">Sumbangan Gedung</th>
                <th class="header">Seragam</th>
                
              </tr>
            </thead>
            
            <tbody>
              <%for(var i=0;i<data.length; i++){%>
            <tr>
              <td><%= i+1%></td>
              <td><%= data[i].sekolah%></td>
              <td><%= data[i].nama%></td>
              <td><%= data[i].jk%></td>
              <td><%= data[i].alamat%></td>
              <td><%= numberWithCommas (data[i].pay_spp-data[i].tag_spp)%></td>
              <td><%= numberWithCommas (data[i].pay_kegiatan-data[i].tag_kegiatan)%></td>
              <td><%= numberWithCommas (data[i].pay_gedung-data[i].tag_gedung)%></td>
              <td><%= numberWithCommas (data[i].pay_seragam-data[i].tag_seragam)%></td>
              <td><a href="/manajemen_pembayaran/insert?sekolah=<%= data[i].sekolah%>&siswa=<%= data[i].id%>">Pembayaran</a></td>
            </tr>
            <%}%>
            </tbody>
          </table>
        </div>
      </div>
    </div>  
  </div>
  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2021 </span>
        <span>Yayasan BAJ Keluarga H.M Sulchan</span>.
      </p>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->

<% include ../../template-backoffice/footer.ejs %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#data').DataTable({
      "language": {
          "sProcessing":   "Sedang memproses...",
          "sLengthMenu":   "_MENU_",
          "sZeroRecords":  "Tidak ditemukan data yang sesuai",
          "sInfo":         "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
          "sInfoEmpty":    "Menampilkan 0 sampai 0 dari 0 entri",
          "sInfoFiltered": "(disaring dari _MAX_ entri keseluruhan)",
          "sInfoPostFix":  "",
          "sUrl":          "",
          "oPaginate": {
            "sFirst":    "Pertama",
            "sPrevious": "Sebelumnya",
            "sNext":     "Selanjutnya",
            "sLast":     "Terakhir"
          }
      },
      "columnDefs": [
          { "width": "100px", "targets": 4}
      ],
    });
  });
</script>