<% include ../../template-backoffice/header.ejs %>

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Data Hutang</strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/backoffice">Dashboard</a>
        </li>
        <li class="active">Data</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel">
        <div class="panel-header header-line">
          <button class="btn btn-primary btn-embossed" type="button" data-toggle="modal" data-target=".modal-input"><i class="fa fa-plus" aria-hidden="true"></i>Tambah Data</button>
        </div>
        <div class="panel-content pagination2">
          <table class="table table-bordered table-striped table-hover" id="data">
            <thead>
              <tr>
                <th class="header">No.</th>
                <th class="header">Kode</th>
                <th class="header">Nama Hutang</th>
                <th class="header">Balance</th>
                <th class="header">Option</th>
              </tr>
            </thead>
            
            <tbody>
              <%for(var i=0;i<data.length; i++){%>
                <tr>
                  <td><%= i+1%></td>
                  <td><%= data[i].kode%></td>
                  <td><%= data[i].nama%></td>
                  <td><%= data[i].curr_balance%></td>
                  <td>
                    <center>
                    <ul class="list-inline" style="text-align: center;">
                      <li><button class="btn btn-warning btn-embossed btn-sm" type="button" onclick="edit('<%= data[i].id%>')" style="margin-right: 0;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></li>
                      <li class="separator">|</li>
                      <li><a class="btn btn-danger btn-embossed btn-sm" role="button" onclick="hapus('<%= data[i].id%>')"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>
                    </ul>
                    </center>
                  </td>
                </tr>
            <%}%>
            </tbody>
          </table>
        </div>
      </div>
    </div>  
  </div>
  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2021 </span>
        <span>Yayasan BAJ Keluarga H.M Sulchan</span>.
      </p>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->

<div class="modal fade modal-input" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><strong>Tambah Data Hutang</strong></h4>
      </div>
      <form role="form" class="form-horizontal">
        <div class="modal-body">
          <div class="form-group">
            <label for="" class="col-sm-3 control-label" style="text-align: left;">Kode</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" name="" id="kode_depan" value="2" disabled style="text-align: center;">
            </div>
  
            <div class="col-sm-7">
              <input type="text" class="form-control" name="" id="kode_belakang">
            </div>
          </div>
  
          
  
          <div class="form-group">
            <label for="" class="col-sm-3 control-label" style="text-align: left;">Nama Hutang</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="" id="nama">
            </div>
          </div>
  
          <div class="form-group">
            <label for="" class="col-sm-3 control-label" style="text-align: left;">Open Balance</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="" id="balance">
            </div>
          </div>
        </div>
      </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark btn-embossed" data-dismiss="modal">Batalkan</button>
          <button type="button" class="btn btn-primary btn-embossed" onclick="simpan()">Simpan</button>
        </div>
      
    </div>
  </div>
</div>

<div class="modal fade modal-edit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><strong>Edit Data Hutang</strong></h4>
      </div>
      <form role="form" class="form-horizontal">
        <div class="modal-body">
          <div class="form-group">
            <label for="" class="col-sm-3 control-label" style="text-align: left;">Kode</label>
            <div class="col-sm-2">
              <input type="hidden" class="form-control" name="" id="id" >
              <input type="text" class="form-control" name="" id="kode_depane"  disabled style="text-align: center;">
            </div>
  
            <div class="col-sm-7">
              <input type="text" class="form-control" name="" id="kode_belakange">
            </div>
          </div>
  
          
  
          <div class="form-group">
            <label for="" class="col-sm-3 control-label" style="text-align: left;">Nama Hutang</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="" id="namae">
            </div>
          </div>
  
          <div class="form-group">
            <label for="" class="col-sm-3 control-label" style="text-align: left;">Open Balance</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="" id="balancee">
            </div>
          </div>
        </div>
      </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark btn-embossed" data-dismiss="modal">Batalkan</button>
          <button type="button" class="btn btn-primary btn-embossed" onclick="simpan_edit()">Simpan</button>
        </div>
      
    </div>
  </div>
</div>

<% include ../../template-backoffice/footer.ejs %>

<script type="text/javascript">
function simpan(){
        
        if($( "#nama" ).val()==''){
          alert("Nama tidak boleh kosong!");
        }else{
            console.log("ok")

            $.post( "/manajemen_akun/submit_akun", { kode: $( "#kode_depan" ).val()+''+$( "#kode_belakang" ).val(), nama: $( "#nama" ).val(), balance: $( "#balance" ).val()})
        .done(function( data ) {
            console.log(data)
            if(data.data==1){
                    alert("Berhasil!");
                    location.reload();
                  }else{
                    alert("Gagal Kode Sudah Ada !");
                  }  
        });

        }

    }

function edit(id){

  $.ajax({
                              type : "GET",
                              async : false,
                              global : false,
                              url : "/manajemen_akun/get_akun/"+id,
                              dataType : 'json',
                              success: function (data) {
                                console.log(data)
                                $("#id").val(data[0].id);
                                $("#kode_depane").val(data[0].kode.substring(0, 1));
                                $("#kode_belakange").val(data[0].kode.substring(1));
                                
                                $("#namae").val(data[0].nama);
                                $("#balancee").val(data[0].balance);
                                
                                
                             $(".modal-edit").modal("toggle");
                              }
                            })
                          
    }

    function simpan_edit(){
        
        if($( "#namae" ).val()==''){
          alert("Nama tidak boleh kosong!");
        }else{
            console.log("ok")

            $.post( "/manajemen_akun/submit_edit", {id:$( "#id" ).val(), kode: $( "#kode_depane" ).val()+''+$( "#kode_belakange" ).val(), nama: $( "#namae" ).val(), balance: $( "#balancee" ).val()})
        .done(function( data ) {
            console.log(data)
                    
            if(data.data==1){
                    alert("Berhasil!");
                    location.reload();
                  }else{
                    alert("Gagal Kode Sudah Ada !");
                  }  
        });

        }

    }

    function hapus(id){
        var r = confirm("Apakah anda yakin akan menghapus akun ini!");
        if (r == true) {
            $.get( "/manajemen_akun/delete/"+id, function( data ) {
            
            alert(data);
            location.reload();
            });
        } else {
            
        }

        
    }
  $(document).ready(function() {
    $('#data').DataTable({
      "language": {
          "sProcessing":   "Sedang memproses...",
          "sLengthMenu":   "_MENU_",
          "sZeroRecords":  "Tidak ditemukan data yang sesuai",
          "sInfo":         "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
          "sInfoEmpty":    "Menampilkan 0 sampai 0 dari 0 entri",
          "sInfoFiltered": "(disaring dari _MAX_ entri keseluruhan)",
          "sInfoPostFix":  "",
          "sUrl":          "",
          "oPaginate": {
            "sFirst":    "Pertama",
            "sPrevious": "Sebelumnya",
            "sNext":     "Selanjutnya",
            "sLast":     "Terakhir"
          }
      },
      "columnDefs": [
          { "width": "100px", "targets": 4}
      ],
    });
  });
</script>