<% include ../../template-backoffice/header.ejs %>
<%
  function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
}
%>
<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Edit Data Siswa</strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/backoffice">Dashboard</a></li>
        <li><a href="/manajemen_master/siswa">Data</a></li>
        <li class="active">Edit Data</li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="panel">
        <div class="panel-content">
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <center>
                <img src="https://via.placeholder.com/160" alt="" style="border-radius: 100%;">
                <hr>
                <h3 style="margin: 5px;"><strong><%= data_siswa[0].nama%></strong></h3>
                <h5 style="margin: 5px;"><strong><%= data_siswa[0].kelas%></strong></h5>
                <h5 style="margin: 5px;"><strong><%= data_siswa[0].sekolah%></strong></h5>
                <h5 style="margin: 5px;"><strong><%= data_siswa[0].tahun_ajaran%></strong></h5>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
      <div class="row">
        <div class="col-md-6 col-lg-6">
          <div class="panel bg-primary">
            <div class="panel-content">
              <h2 style="margin-top: 0;"><strong>SPP </strong></h2>
              <h5>Kekurangan pembayaran sampai dengan bulan ini sebesar</h5>
              <h1 style="text-align: right;"><strong>Rp <%= numberWithCommas(data_pembayaran[0].totpem_spp-totat_spp)%>,-</strong></h1>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-6">
          <div class="panel bg-red">
            <div class="panel-content">
              <h2 style="margin-top: 0;"><strong>DANA KEGIATAN </strong></h2>
              <h5>Kekurangan pembayaran sampai dengan bulan ini sebesar</h5>
              <h1 style="text-align: right;"><strong>Rp <%= numberWithCommas(data_pembayaran[0].totpem_danakegiatan-totat_danakegiatan)%>,-</strong></h1>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-6">
          <div class="panel bg-orange">
            <div class="panel-content">
              <h2 style="margin-top: 0;"><strong>SUMBANGAN GEDUNG </strong></h2>
              <h5>Kekurangan pembayaran sampai dengan bulan ini sebesar</h5>
              <h1 style="text-align: right;"><strong>Rp <%= numberWithCommas(data_pembayaran[0].totpem_gedung-totat_gedung)%>,-</strong></h1>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-6">
          <div class="panel bg-purple">
            <div class="panel-content">
              <h2 style="margin-top: 0;"><strong>SERAGAM </strong></h2>
              <h5>Kekurangan pembayaran sampai dengan bulan ini sebesar</h5>
              <h1 style="text-align: right;"><strong>Rp <%= numberWithCommas(data_pembayaran[0].totpem_seragam-totat_seragam)%>,-</strong></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab tab-light clearfix" style="margin-top: 30px;"> 
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#tab2-2" data-toggle="tab" aria-expanded="false" style="padding: 10px 15px;"><span class="font-custom" style="font-size: 16px;">PIUTANG SPP</span></a></li>
        <li><a href="#tab2-3" data-toggle="tab" aria-expanded="false" style="padding: 10px 15px;"><span class="font-custom" style="font-size: 16px;">PIUTANG OPERASIONAL</span></a></li>
        <li><a href="#tab2-4" data-toggle="tab" aria-expanded="false" style="padding: 10px 15px;"><span class="font-custom" style="font-size: 16px;">PIUTANG GEDUNG & SERAGAM</span></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      

      <div role="tabpanel" class="tab-pane fade active in" id="tab2-2">
        <div class="row">
          <div class="col-md-12 col-lg-12">
            <div class="panel bg-aero">
              <div class="panel-header ui-sortable-handle">
                <h3>Input jatuh tempo dan nominal otomatis</h3>
              </div>
              <div class="panel-content table-no-border">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td style="padding: 0 10px;margin: 0;"><input type="text" class="form-control tgl" name="" id="tanggale" placeholder="Tanggal Jatuh Tempo"></td>
                      <td style="padding: 0 10px;margin: 0;"><input type="text" class="form-control" name="" id="dnominale" placeholder="Nominal Piutang"><input type="hidden" class="form-control" name="" id="nominale"></td>
                      <td style="padding: 0 10px;margin: 0;"><button class="btn btn-primary btn-embossed" id="proses">Proses</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-12">
            <form id="formSpp">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th style="width: 20px;">Piutang</th>
                  <th>Tanggal Jatuh Tempo</th>
                  <th>Nominal Piutang</th>
                </tr>
              </thead>

              <tbody>
             
                <% 
                let a =0;
                 for(let i =0; i < tagihan.length; i++){
                 
                  if(tagihan[i].jenis_tagihan=='SPP'){
                    a++
                  %>
                <tr>
                  <input type="hidden" class="form-control tgl" name="id[]"  value="<%= tagihan[i].id%>">
                  <input type="hidden" class="form-control tgl" name="id_reserved[]"  value="<%= tagihan[i].id_reserved%>">
                  <td style="text-align: center;"><%= a%></td>
                  <td><input type="text" class="form-control tgl" id="tempo_<%=a%>" name="jatuh_tempo[]"  value="<%= tagihan[i].tgl_tampil%>" placeholder="Tanggal Jatuh Tempo"></td>
                  <td><input type="text" class="form-control display"  value="<%- numberWithCommas(tagihan[i].nominal_tagihan)%>" placeholder="Nominal Piutang" onkeyup="conspp(this,<%= a%>)"><input type="hidden" class="form-control nom" name="nominal_tagihan[]" value="<%= tagihan[i].nominal_tagihan%>" id="nom<%= a%>"></td>
                </tr>
                <%}}%>
               
              </tbody>
            </table>

            <button class="btn btn-primary btn-embossed">Update</button>
          </form>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane fade" id="tab2-3">
        <div class="row">
          <div class="col-md-12 col-lg-12">
            <form id="formOperasional">
            <table class="table table-bordered" id="operasional">
              <thead>
                <tr>
                  <th style="text-align: center;">Tanggal Piutang</th>
                  <th style="text-align: center;">Nominal Piutang</th>
                  <th style="text-align: center;width: 100px;">Option</th>
                </tr>
              </thead>
              <tbody>
                <% let b =0;
                for(let i =0; i < tagihan.length; i++){
                  if(tagihan[i].jenis_tagihan=='Dana Kegiatan'){
                    b++
                  %>
                <tr>
                  <input type="hidden" class="form-control tgl" name="id[]"  value="<%= tagihan[i].id%>">
                  <input type="hidden" class="form-control tgl" name="id_reserved[]"  value="<%= tagihan[i].id_reserved%>">
                
                  <td><input type="text" class="form-control tgl" name="jatuh_tempo[]"  value="<%= tagihan[i].tgl_tampil%>" placeholder="Tanggal Jatuh Tempo"></td>
                  <td><input type="text" class="form-control" onkeyup="conop(this, <%= b%>)" value="<%- numberWithCommas(tagihan[i].nominal_tagihan)%>"><input type="hidden" class="form-control" name="nominal_tagihan[]" id="nomop<%= b%>" value="<%= tagihan[i].nominal_tagihan%>"></td>
                  <td><center><button class="btn btn-danger btn-embossed hapus-operasional">Hapus</button></center></td>

                </tr>
                <%}}%>
               
              </tbody>
            </table>

            <ul class="list-inline" style="margin-bottom: 0;">
              <li><span class="btn btn-warning btn-embossed tambah-operasional">Tambah Piutang</span></li>
              <li>|</li>
              <li><button class="btn btn-primary btn-embossed">Update</button></li>
            </ul>
            
    
            
          </form>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane fade" id="tab2-4">
        <div class="row">
          <div class="col-md-12 col-lg-12">
            <form id="formGesam">
            <table class="table table-bordered" id="gesam">
              <thead>
                <tr>
                  <th style="text-align: center;">Tanggal Piutang</th>
                  <th style="text-align: center;">Nominal Piutang</th>
                  <th style="text-align: center;">Jenis</th>
                  <th style="text-align: center;width: 100px;">Option</th>
                </tr>
              </thead>
              <tbody>
                <% let c=0;
                 for(let i =0; i < tagihan.length; i++){
                  if(tagihan[i].jenis_tagihan=='Sumbangan Gedung' || tagihan[i].jenis_tagihan=='Seragam'){
                  c++
                    %>
                <tr>
                  <input type="hidden" class="form-control tgl" name="id[]"  value="<%= tagihan[i].id%>">
                  <input type="hidden" class="form-control tgl" name="id_reserved[]"  value="<%= tagihan[i].id_reserved%>">
                
                  <td><input type="text" class="form-control tgl" name="jatuh_tempo[]"  value="<%= tagihan[i].tgl_tampil%>" placeholder="Tanggal Jatuh Tempo"></td>
                  <td><input type="text" class="form-control" value="<%- numberWithCommas(tagihan[i].nominal_tagihan)%>" onkeyup="condung(this, <%= c%>)"><input type="hidden" class="form-control" name="nominal_tagihan[]" value="<%= tagihan[i].nominal_tagihan%>" id="nomdung<%= c%>"></td>
                  <td><select class="form-control" name="jenis[]"><option <%if(tagihan[i].jenis_tagihan=='Sumbangan Gedung'){%>selected<%}%>>Sumbangan Gedung</option><option <%if(tagihan[i].jenis_tagihan=='Seragam'){%>selected<%}%>>Seragam</option></select></td>
                  <td><center><button class="btn btn-danger btn-embossed hapus-gesam">Hapus</button></center></td>
                </tr>
                <%}}%>
               
              </tbody>
            </table>

            <ul class="list-inline" style="margin-bottom: 0;">
              <li><span class="btn btn-warning btn-embossed tambah-gesam" style="margin-right: 0;">Tambah Piutang</span></li>
              <li>|</li>
              <li><button class="btn btn-primary btn-embossed">Update</button></li>
            </ul>
            
            
          </form>
          </div>
        </div>
      </div>

      
    </div>
  </div>

  
  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2021 </span>
        <span>Yayasan BAJ Keluarga H.M Sulchan</span>.
      </p>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->
<script src="/plugins/moment/moment.js"></script>
<% include ../../template-backoffice/footer.ejs %>
<script type="text/javascript">
function conspp(e, i){
console.log(e.value);
console.log(i);
e.value = (e.value.replace(/[.]/g, "")).toString()
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ".");
                    document.getElementById("nom"+i).value = e.value.replace(/[.]/g, "")
}
function conop(e, i){
console.log(e.value);
console.log(i);
e.value = (e.value.replace(/[.]/g, "")).toString()
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ".");
                    document.getElementById("nomop"+i).value = e.value.replace(/[.]/g, "")
}

function condung(e, i){
console.log(e.value);
console.log(i);
e.value = (e.value.replace(/[.]/g, "")).toString()
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ".");
                    document.getElementById("nomdung"+i).value = e.value.replace(/[.]/g, "")
}

moment.addRealMonth = function addRealMonth(d) {
  var fm = moment(d).add(1, 'M');
  var fmEnd = moment(fm).endOf('month');
  return d.date() != fm.date() && fm.isSame(fmEnd.format('YYYY-MM-DD')) ? fm.add(1, 'd') : fm;  
}

$("#proses").click(function(){
  
  // console.log(cicil);
  var mont=$("#tanggale").val();
  var nominal=$("#nominale").val();
  $(".nom").val(nominal);
  $(".display").val(nominal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "."));
  for(var i=1; i<=12; i++){
    
    $("#tempo_"+i+"").val(mont);
    
    var nextMonth = moment.addRealMonth(moment(mont));
    
    mont = nextMonth.format('YYYY-MM-DD')
  }

  

})
var i=<%= b%>;
console.log(i);
  $(".tambah-operasional").click(function(){ 
    i++;
    $("#operasional").append('<tr><td><input type="text" class="form-control tgl" name="jatuh_tempo[]" id="" placeholder="Tanggal Piutang"></td><td><input type="text" class="form-control" onkeyup="conop(this, '+i+')" placeholder="Nominal Piutang"><input type="hidden" class="form-control" name="nominal_tagihan[]" id="nomop'+i+'"></td><td><center><button class="btn btn-danger btn-embossed hapus-operasional">Hapus</button></center></td></tr>');
    $('#operasional').find(".tgl").datepicker({
              format: 'yyyy-mm-dd',
              orientation: "auto top",
              autoclose: true,
              todayHighlight:true,
    });
  });
  $("#operasional").on('click','.hapus-operasional',function(){
    $(this).parent().parent().parent().remove();
  });
  var j=<%= c%>;
  $(".tambah-gesam").click(function(){ 
    j++;
    $("#gesam").append('<tr><td><input type="text" class="form-control tgl" name="jatuh_tempo[]" id="" placeholder="Tanggal Piutang"></td><td><input type="text" class="form-control" onkeyup="condung(this, '+j+')" placeholder="Nominal Piutang"><input type="hidden" class="form-control" name="nominal_tagihan[]" id="nomdung'+j+'"></td><td><select class="form-control" name="jenis[]"><option>Sumbangan Gedung</option><option>Seragam</option></select></td><td><center><button class="btn btn-danger btn-embossed hapus-gesam">Hapus</button></center></td></tr>');
    $('#gesam').find(".tgl").datepicker({
              format: 'yyyy-mm-dd',
              orientation: "auto top",
              autoclose: true,
              todayHighlight:true,
    });
  });
  $("#gesam").on('click','.hapus-gesam',function(){
    $(this).parent().parent().parent().remove();
  });

  $("#formSpp").submit(function(e){
    e.preventDefault();
    var form = $(this);
   
    
    $.ajax({
           type: "POST",
           url: "/manajemen_jatuh_tempo/submit_edit/SPP/<%= tagihan[0].id_reserved%>/<%= data_siswa[0].id_siswa%>",
           data: form.serialize(), // serializes the form's elements.
           success: function(data)
           {
               alert(data); // show response from the php script.
               location.reload();
           }
         });
  })

  $("#formOperasional").submit(function(e){
    e.preventDefault();
    var form = $(this);
   
    
    $.ajax({
           type: "POST",
           url: "/manajemen_jatuh_tempo/submit_edit/Dana Kegiatan/<%= tagihan[0].id_reserved%>/<%= data_siswa[0].id_siswa%>",
           data: form.serialize(), // serializes the form's elements.
           success: function(data)
           {
               alert(data); // show response from the php script.
               location.reload();
           }
         });
  })

  $("#formGesam").submit(function(e){
    e.preventDefault();
    var form = $(this);
   
    
    $.ajax({
           type: "POST",
           url: "/manajemen_jatuh_tempo/submit_edit_tab3/<%= tagihan[0].id_reserved%>/<%= data_siswa[0].id_siswa%>",
           data: form.serialize(), // serializes the form's elements.
           success: function(data)
           {
               alert(data); // show response from the php script.
               location.reload();
           }
         });
  })


  document.getElementById("dnominale").onkeyup =function (){    
    this.value = (this.value.replace(/[.]/g, "")).toString()
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    
    document.getElementById("nominale").value = this.value.replace(/[.]/g, "")
    
}
</script>