<% include ../../template-backoffice/header.ejs %>
<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Approval</strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/backoffice">Dashboard</a></li>
        <!-- <li><a href="/man">Data</a></li> -->
        <li class="active">Tambah Data</li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel">
        <div class="panel-content">
          <form role="form" id="forme" class="form-horizontal">
            <input type="hidden" class="form-control" name="id" value="<%=jurnal[0].id%>">
            <div class="row">
              <div class="col-md-6 col-lg-6">
                <div class="form-group">
                  <label for="" class="col-sm-3 control-label" style="text-align: left;">Akun</label>
                  <div class="col-sm-9">
                    <select class="form-control" name="kode_akun" data-search="true">
                      <option value="">-- Pilih --</option>
                            <% for(var i=0; i<akun.length; i++){ %>
                              <option value="<%= akun[i].kode%>" <%=(subjurnal[0].kode_akun==akun[i].kode)?'selected':''%>><%= akun[i].kode%> <%= akun[i].nama%></option>
                              <%}%>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="" class="col-sm-3 control-label" style="text-align: left;">Objek</label>
                  <div class="col-sm-9">
                    <select class="form-control" name="id_objek" data-search="true">
                      <option value="">-- Pilih --</option>
                      <% for(var i=0; i<objek.length; i++){ %>
                        <option <%=(jurnal[0].id_objek==objek[i].nama)?'selected':''%>><%= objek[i].nama%></option>
                        <%}%>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="" class="col-sm-3 control-label" style="text-align: left;">Keterangan</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="keterangan" value="<%=jurnal[0].keterangan%>">
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-6">
                <div class="form-group">
                  <label for="" class="col-sm-3 control-label" style="text-align: left;">id</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="no_id" value="<%=jurnal[0].no_id%>">
                  </div>
                </div>

                <div class="form-group">
                  <label for="" class="col-sm-3 control-label" style="text-align: left;">Tanggal</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control tgl" name="tgl" id="tgl1" value="<%=jurnal[0].tgl%>">
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-3 control-label" style="text-align: left;">Nominal</label>
                  <div class="col-sm-9">
                    <input type="number" class="form-control" name="nominal" id="nominal">
                  </div>
                </div>
              </div>
            </div>

            
              

            <div class="row">
              <div class="col-md-12 col-lg-12" style="margin-left: 0;">
                <hr>
              </div>
            </div>


            <div class="row">
              <div class="col-md-12 col-lg-12" style="margin-left: 0;">
                <table class="table table-bordered" id="tipe-perumahan">
                  <thead>
                    <tr>
                      <th style="width: 200px;">Akun</th>
                      
                      <th>Jumlah</th>
                      <th>Catatan</th>
                      <th>Option</th>
                    </tr>
                  </thead>

                  <tbody>
                    <%for(let i =1; i< subjurnal.length;i++){%>
                      
                      <tr><td>
                        <select class="form-control select2" name="sub_kode[]" >
                          <option value="">-- Pilih --</option>
                          <% for(var x=0; x<akun.length; x++){ %>
                                        <option value="<%= akun[x].kode%>" <%=(subjurnal[i].kode_akun==akun[x].kode)?'selected':''%>><%= akun[x].kode%> <%= akun[x].nama%></option>
                                        <%}%>
                          </select></td>
                          
                          <td><input type="number" class="form-control jml" name="jumlah[]" value="<%=subjurnal[i].credit%>" onblur="findTotal()"></td>
                          <td><input type="text" class="form-control" name="catatan[]" value="<%=subjurnal[i].catatan%>"></td>
                          <td><button class="btn btn-danger btn-sm hapus-tipe">Hapus</button></td></tr>
                      <%}%>
                  </tbody>
                </table>
              </div>

              <div class="col-md-12 col-lg-12" style="margin-left: 0;">
                <span class="btn btn-primary btn-embossed tambah-tipe">Tambah</span>
              </div>
            </div>
            <select name="approval">
              <option value="0" <%=(jurnal[0].approval==0)?'selected':''%>>Belum Disetujui</option>
              <option value="1" <%=(jurnal[0].approval==1)?'selected':''%>> Disetujui</option>
              <option value="2" <%=(jurnal[0].approval==2)?'selected':''%>>Tolak</option>
          </select>
          </form>
          <div class="row">
           
            <button type="button" class="btn btn-primary btn-embossed" onclick="simpan()">Simpan</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2021 </span>
        <span>Yayasan BAJ Keluarga H.M Sulchan</span>.
      </p>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->

<% include ../../template-backoffice/footer.ejs %>
<script type="text/javascript">
$('body').on('DOMNodeInserted', 'select', function () {
    $(this).select2();
});
          $(".tambah-tipe").click(function(){
            $("#tipe-perumahan").append(`<tr><td>
              <select class="form-control select2" name="sub_kode[]" >
                <option value="">-- Pilih --</option>
                <% for(var i=0; i<akun.length; i++){ %>
                              <option value="<%= akun[i].kode%>"><%= akun[i].kode%> <%= akun[i].nama%></option>
                              <%}%>
                </select></td>
                
                <td><input type="number" class="form-control jml" name="jumlah[]" onblur="findTotal()"></td>
                <td><input type="text" class="form-control" name="catatan[]"></td>
                <td><button class="btn btn-danger btn-sm hapus-tipe">Hapus</button></td></tr>`);
          });
          $("#tipe-perumahan").on('click','.hapus-tipe',function(){
            $(this).parent().parent().remove();
          });

          setTimeout(function(){
$('.select2').select2();
}, 100);
          var today = new Date();
          var dd = String(today.getDate()).padStart(2, '0');
          var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
          var yyyy = today.getFullYear();

          today = yyyy + '-' + mm + '-' + dd;
          

          $('#tgl1').val(today);


function findTotal(){
    var arr = document.getElementsByName('jumlah[]');
    var tot=0;
    for(var i=0;i<arr.length;i++){
        if(parseInt(arr[i].value))
            tot += parseInt(arr[i].value);
    }
    document.getElementById('nominal').value = tot;
}
findTotal()
function simpan(){
  
  
$.ajax({
  type: 'POST',
  url: '/manajemen_permintaan/submit_pemasukan',
  data: $('#forme').serialize(),
  success: function(data){
    console.log(data)
    
      alert(data);
      location.reload();
    
  }
});

}
</script>